.background {
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100%;

  background: linear-gradient(133deg, rgba(159, 229, 255, 1) 0%, rgba(98, 149, 255, 1) 53%, rgba(0, 212, 255, 1) 100%);
}

.formContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    z-index: 1;
    width: 40%;
    background-color: azure;
    padding: 30px;
    border-radius: 10px;
  }

  .btnGroup {
    margin-top: 10px;
    width: 100%;

    .login, .register {
      text-align: center;
      width: 100%
    }
  }
}







